################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BardDaemon/.vs/BardDaemon/v14
/BardDaemon/packages
/BardDaemon/BardDaemon/bin
/BardDaemon/BardDaemon/obj
/BardDaemon/BardDaemon/BardDaemon.csproj.user
/BardDaemon/BardInterface/bin
/BardDaemon/BardInterface/obj
/bardUI/.vs/Bard/v14
/bardUI/Bard/bin/Debug
/bardUI/Bard/obj/Debug
/bardUI/packages
/bardUI/Bard/Bard.csproj.user
